{%extends 'base.html'%}
{%block title%} product details {% endblock title%}
{%block baseblock%}

<div class="container my-5" style="position:absolute;">
    <div class="row">
        <div class="col-sm-4 text-center align self-center">
            <img   src="{{form.product_image.url}}" alt="" class="img-fluid img-thumbnail">
        </div>
        <div class="col-sm-5 offset-sm-1">
            <div style="position:absolute;right:10px;">
            <h5>{{form.prod_quantity}} Remaining in stalk</h5> </div>
            <h2>{{form.Product_brand}}</h2>
            <hr>
            <p>Description: {{form.product_description}}</p>
            <h4>Rs. {{form.product_cost}}</h4>
            
            


                  {% if Item_already_in_cart%}
                  <a href="/show_cart" class="btn btn-warning shadow px-5 py-2 ms-4">Go to cart</a> 
                   {%else%}
            <form action="/add_to_cart" class="btn-block">
                {% csrf_token%}
                <input type="hidden" name="prod_id" value="{{form.id}}" id="prod_id">
                <button type="submit" class="btn-info shadow px-5 py-2 ms-4">Add to cart</button>
            </form><br>

            

            {% endif %}
        <a href="/" class="btn btn-success">back</a>

        </div>
    </div>
</div>



{%endblock%}