<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{%block baseblock%}
<head>
    <meta charset="UTF-8">
    <title>payment method</title>

</head>
<style>
    #calc { height:50px;

    position:absolute;
    right:0px;
    top:100px;
    padding:10px;
    }

</style>
<body>
<h1>payment method</h1>

<form method="post">
    <input type="text" name="qun" placeholder="quantity">
    {% csrf_token %}
    <input type="submit" value="submit">
</form>
<div id="calc">
<h3>Product Cost : {{obj.product_cost}}</h3>
    <h3>Quantity  :   {{Total.qun}}</h3>
    <h3>Total Cost  :   {{Total.T}}</h3>
</div>


</body>
{%endblock%}
</html>