<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{%block baseblock%}
<head>
    <meta charset="UTF-8">

    <title>Product_data</title>
</head><hr>
<body>

<center>
    <div class="container my-50">
<div class="shadow p-5>
<h1 align="center"> Product List</h1>

{% if form %}
<table border="1px" align="center">

    <thead>
    <th>id</th>
<th> product_name</th>
<th>Product_brand</th>
<th>Product_category</th>
<th>product_cost</th>
<th>product_releasedate</th>
    <th>product_description</th>
    <th>product_image</th>
    </thead>
{% for Showuser in form %}
 <tr>
     <td>{{Showuser.id}}</td>
     <td>{{Showuser.product_name}}</td>
     <td>{{Showuser.Product_brand}}</td>
     <td>{{Showuser.Product_category}}</td>
     <td>{{Showuser.product_cost}}</td>
     <td>{{Showuser.product_releasedate}}</td>
     <td>{{Showuser.product_description}}</td>
     <td><img src="{{Showuser.product_image.url}}" height="30px"></td>

     <td><a href="/update/{{Showuser.id}}" class="btn btn-success">update</a></td>
     <td><a href="/delete/{{Showuser.id}}" class="btn btn-danger">delete</a></td>


 </tr>
{%endfor%}
</table>
        <a href="/product/" class="btn btn-success">insert</a>
</div>
{%else%}
<h1> no data found</h1>
{%endif%}


    </center>

</body>
</div>
</div>
{%endblock%}

</html>