<!doctype html>
<html lang="en">
{%extends 'base.html'%}
{%block baseblock%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
<h1>Welcome to profile</h1>
<!--    <div class="container pt-5">-->
<!--      <div class="d-flex justify-content-center">-->
<!--        <form method="post">-->
<!--          {% csrf_token %}-->
<!--          {{ u_form.as_p}}-->
<!--          {{ p_form.as_p}}-->
<!--          <button type="submit" class="btn btn-primary">Submit</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>-->
  </body>
{%endblock%}
</html>
















<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--         crossorigin="anonymous"></script>-->
<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--         crossorigin="anonymous"></script>-->
<!--      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--         crossorigin="anonymous"></script>-->