<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{%block baseblock%}
{%load static%}
<head>
    <meta charset="UTF-8">

    <title>added Product</title>

</head><hr>
<body>
<style>
.item_row{
background-color:red;
padding:10px;
margin:auto;
}

</style>
<center>
    <div class="container my-50">
<div class="shadow p-5">
   <h1 align="center">Products</h1>
{% if form %}
<table class="table" id ="myTable" align="center">
<tbody>      
{% for Showuser in form %}
            <tr>
                    <td><div>
                        <td><h5>{{Showuser.product_name}}</h5><td>
                        <td><img src="{{Showuser.product_image.url}}" height="100px"/><td>
                        <td><a href="/remove_cart/{{Showuser.id}}" class="btn btn-danger">X</a></td>
                        
                    
                    </div></td>
            </tr>
            <form method="POST">
            <tr>
                    <div>    
                   <td>Price : <input disabled="true" onkeyup="price(this)" value="{{Showuser.product_cost}}"/></td>
                    <td>Quantity : <input type="text" name="qun" min="1" max="7" value="1" placeholder= 'quantity' onkeyup="amount(this)" /></td>
                   
                   <td class="netPrice">{{Showuser.product_cost}}</td>                    
                    </div>
               <input type="hidden" name="p_id" value="{{Showuser.id}}"/>
            </tr>
            <hr/>
            
{%endfor%}
</tbody>
        <tfoot>
            <tr>
               <td></td>
                <td><h5>Final Total</h5></td>
                <td id="total">{{final_sum}}</td>
                <td><input type="submit" class="btn btn-success" value="Continue To Payment"/></td>
            </tr>
        </tfoot>
        {%csrf_token%}
            </form>
    </table>
{%else%}
<h1> no data found</h1>
    <a href="/" class="btn btn-success">back</a>
{%endif%}


        <a href="/" class="btn btn-success">back</a>
</div>
    </center>

</body>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'js/calc_jquery.js'%}"></script>
{%endblock%}


</html>