<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{%block baseblock%}
{%load static%}
<head>
    <meta charset="UTF-8">

    <title>added Product</title>

</head><hr>
<body>

<center>
    <div class="container my-50">
<div class="shadow p-5">
   <h1 align="center">Products</h1>
{% if form %}
<table class="table" id ="myTable" align="center">
<tbody>      
{% for Showuser in form %}
            <tr> 
                <tr>
                     <td><h5>{{Showuser.product_name}}</h5><td>
                     <td><img src="{{Showuser.product_image.url}}" height="100px"/><td>
                     
                </tr>
                <td>Price : <input disabled="true" onkeyup="price(this)" value="{{Showuser.product_cost}}"/></td>
                 <td>Quantity : <input type="number" min="1" max="7" value="1" placeholder= 'quantity' onkeyup="quant(this)" ></td>
                
                <td class="netPrice">{{Showuser.product_cost}}</td>
                 <td><a href="/remove_cart/{{Showuser.id}}" class="btn btn-danger">remove</a></td>
            </tr>
            <tr></tr>
            <hr/>
            
{%endfor%}
        </tbody>
        <tfoot>
            <tr>
               <td></td>
                <td><h5>Final Total</h5></td>
                <td id="total">{{final_sum}}<h5></h5></td>
                <td><a href="/" class="btn btn-success">Continue To Payment</a></td>
            </tr>
        </tfoot>
    </table>
{%else%}
<h1> no data found</h1>
    <a href="/" class="btn btn-success">back</a>
{%endif%}


        <a href="/" class="btn btn-success">back</a>
</div>
    </center>

</body>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'js/calc_jquery.js'%}"></script>
{%endblock%}


</html>