<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{%block baseblock%}
{%load static%}
<head>
    <meta charset="UTF-8">

    <title>added Product</title>

</head><hr>
<body>
<style>
.row_span{
background-color:#cb86d1;
margin:auto;
}

</style>
<center>
    <div class="container my-50">
<div class="shadow p-5">
   <h1 align="center">Products</h1>
            <hr/>
            <hr/>
{% if form %}
<table class="table" id ="myTable" align="center">
<tbody>      
{% for Showuser in form %}

            <tr>  
                        <td>
                        <p>Product Name : {{Showuser.product_name}}</p>                       
                        <p>Product Brand : {{Showuser.Product_brand}}</p> 
                        <p>Product Catagory : {{Showuser.Product_category}}<p>            </td>                       
                        <td><img src="/{{Showuser.product_image}}" height="100px"/></td>
                        <td><p>Product Discription : {{Showuser.product_description}}<p></td>
                        
                    
            </tr>
            <form method="POST">
            <tr class="row_span">
            
                       
                   <td>Price : <input disabled="true" onkeyup="price(this)" value="{{Showuser.product_cost}}"/></td>
                    <td>Quantity : <input type="text" name="qun" min="0" max="7" value="0" placeholder= 'quantity' onkeyup="amount(this)" /></td>
                   
                   <td class="netPrice">0</td>                    
                   <td><a href="/remove_cart/{{Showuser.id}}" class="btn btn-danger">Remove</a></td>
               <input type="hidden" name="p_id" value="{{Showuser.id}}"/>
            
            </tr>
           
{%endfor%}
</tbody>
        <tfoot>
            <tr>
               <td></td>
                <td><h5>Final Total</h5></td>
                <td id="total">{{final_sum}}</td>
                <td><input type="submit" class="btn btn-success" value="Continue To Payment"/></td>
            </tr>
        </tfoot>
        {%csrf_token%}
            </form>
    </table>
{%else%}
<h1> no data found</h1>
    <a href="/" class="btn btn-success">back</a>
{%endif%}


        <a href="/" class="btn btn-success">back</a>
</div>
    </center>

</body>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'js/calc_jquery.js'%}"></script>
{%endblock%}


</html>