<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{%block baseblock%}
<head>
    <meta charset="UTF-8">
    <title>Customer SignUp</title>
</head>
<body>
<div class="Container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">

            <h3> Customer Signup</h3>
            <form method="POST" action="/sign_up1/" class="shadow p-5">
                {% if messages %}
                {% for Message in messages%}
                <p {% if message.tages%} class="alert alert-{{message.tags}} mb-5" {% endif%}>{{message}}</p>
                {%endfor%}
                {%endif%}
                {%csrf_token%}
                {%if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endif%}

                <div class="form-group">
                    <labal for="" class="form-control-lg">Name</labal>
                    <input type="text" name="name" id="" value="{{value.name}}" class="form-contrl" placeholder="Enter Name"></input>
                </div>

                 <div class="form-group" >
                    <labal for="" class="form-control-lg">Mobile No.</labal>
                    <input type="text" name="phone" id="" value="{{value.phone}}" class="form-contrl" placeholder="Enter Mobile No."></input>
                </div>
                <div class="form-group" >
                    <labal for="" class="form-control-lg">Password</labal>
                    <input type="password" name="password" id="" value="{{value.password}}" class="form-contrl" placeholder="Enter Password No."></input>
                </div>
                <div class="form-group" >
                    <labal for="" class="form-control-lg">Email</labal>
                    <input type="text" name="email_id" id="" value="{{value.email_id}}" class="form-contrl" placeholder="Enter Password No."></input>
                </div>
                <div class="form-group" >
                    <labal for="" class="form-control-lg">Address</labal>
                    <input type="text" name="address_field" id="" value="{{value.email_id}}" class="form-contrl" placeholder="Enter Password No."></input>
                </div>
                <div class="form-group" >
                    <labal for="" class="form-control-lg">Date Of Birth</labal>
                    <input type="Date" name="dob" id="" value="{{value.dob}}" class="form-contrl" placeholder="Enter Password No."></input>
                </div>

                <div class="form-group pt-4">
                    <input class="btn btn-sm btn-info" type="submit" value="Signup"></input>
                </div>

                <div class="test-center text-primary fw-bold">
                <small> Existing User to EMART World ?</small>
                <a href="/login" class="text-danger"> Login</a>
                </div>

            </form>

        </div>

    </div>

</div>
</body>
{%endblock%}
</html>