<!DOCTYPE html>

<html lang="en">
{%extends 'base.html'%}
{%block baseblock%}
<head>
    <meta charset="UTF-8">

    <title>Place Order</title>
</head>

<body>

<h1 align="center">Place Order </h1><br><br>
<div class="container" align="center">
    <form method="post">
        Quantity of Prduct :  <input type="text" name="quantity" />
        Mobile no : <input type="text" name="user_mob_no" />
        <input type="hidden" value="{{form.product_cost}}" name="product_cost"/>
        {% csrf_token %}
 <input  type="submit" class="btn btn-success" value="Continue"/><br><br>
        <a href="/" class="btn btn-success">Back</a>

    </form>
</div>


</body>
{%endblock%}
</html>



